.btn-order {
  outline: none;
  display: inline-block;
  border: 1px solid #111;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  background: transparent;
  color: #111;
  font-size: 1rem;
  transition: .3s;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  background-color: #dcdcdc;
}

.btn-order::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  border-top: 2px solid #111;
  border-left: 2px solid #111;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: .3s;
}

.btn-order::after {
  content: '';
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-bottom: 2px solid #111;
  border-right: 2px solid #111;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: .3s;
}

.btn-order:hover {
  box-shadow: 4px 4px 10px rgb(0, 145, 255);
  transform: translateY(-5px);
}

.btn-order:hover::after, .btn-order:hover::before {
  height: 20px;
  width: 20px;
  opacity: 1;
}