@import url('https://fonts.googleapis.com/css2?family=Lobster&family=VT323&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}
.icon-size{
  width: 30px;
  height: 30px;
}
/* -------------------------------CSS cho phần header ------------------*/
#header{
  margin-bottom: 10px;
  background: linear-gradient(269.88deg, #f59e0b 6.75%, #fb923c 95.85%);
}
.header-top{
  width: 100%;
  background-color: #0f172a;
  height: 60px;
}
.header-top .nav-link-header{
  display: flex;
  justify-content: center;
}
.header-top .nav-link-header .nav-2{
  display: none;
}
.header-top ul{
  display: flex;
  justify-content: center;
}
 /* CSS cho thanh tìm kiếm*/
 
.nav-link-header .group {
  width: 100%;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 300px;
}

.nav-link-header .group .input-desktop {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  outline: none;
  background: linear-gradient(180deg,rgb(56, 56, 56) 0%, rgb(36, 36, 36)   66%, rgb(41, 41, 41) 100%);
  color: #fff;
  transition: .3s ease;
  border: 2px solid;
  border-image: conic-gradient( #00F260, #0575E6,#64f38c) 1;
}
.input-desktop::placeholder {
  color: #fff;
}

.input-desktop:focus::placeholder {
  color: #999;
}
.icon-search {
  position: absolute;
  left: 1rem;
  fill: #fff;
  width: 1rem;
  height: 1rem;
}

.container .icon-mobile-sm {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}
.container .icon-mobile-sm img {
  width: 100%;
  height: 100%;
}

.header-top ul li{
  margin: 0 2vw;
  display: flex;
  align-items: center;
  height: 60px;
}
.header-top ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.header-top ul li:first-child > a{
  font-size: x-large;
  font-weight: bold;
  color: transparent;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);     
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'Lobster', sans-serif;
  /* font-family: 'VT323', monospace; */
}
.header-top ul li:last-child a{
  padding: 4px 6px;
  border: 1px solid #f59e0b;
  border-radius: 999px;
  /* border-image: conic-gradient( #00F260, #0575E6,#64f38c) 1; */
}
/* ----------------------CSS cho phần menu sidebar ------------------*/
.sidebar{
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
}
.sidebar button{
  width: 50px;
  padding: 4px;
  margin: 4px;
}
.sidebar .account{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.sidebar .account a{
  margin: 4px 0;
  display: flex;
  align-items: center;
  color: black;
  font-size: large;
}


.header-main{
  height: auto;
  background-color: #00F260;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);     
  /* min-height: 40px; */
  line-height: 40px;
}
.header-main ul{
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  overflow-x: auto;
}

.header-main ul li a{
  display: flex;
  /* padding: 8px 12px; */
  color: black;
  font-size: 0.875rem;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}
.header-main ul li img{
  width: 20px;
}
/* -----------------CSS Dropdown------------------*/
.dropdown-down{
  display: inline-block;
  /* position: relative; */
}
.dropdown-content{
  display: none;
  background-color: #C6E2FF;
  position: absolute;
  flex-direction: column;
}
.dropdown-content a{
  display: inline-block;
}
.dropdown-down:hover .dropdown-content{
  display: flex;
  background-color: #dcdcdc;
}
/* CSS cho phần banner giới thiệu trang web và sản phẩm */
#slider-banner-item{
  width: 100%;
  height: auto;
  background-color: aliceblue;
  margin: 10px 0;
  text-align: center;
}
#slider-banner-item img{
  width: 100%;
  height: 100%;
}
/* CSS cho Footer của trang web */
#footer{
  background-color: #f1f5f9;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
#footer .footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5vw;
  padding-top: 4vh;
}
.footer-content{
  width: 300px;
}
.footer-content h3{
  color: #f97316;
}
.footer-content ul{
  margin-top: 6px;
  margin-bottom: 20px;
}
.footer-content a{
  color: black;
}
.footer-content a:hover{
  color: blue;
  text-decoration: underline;
}
.footer-content .link-infor{
  display: flex;
  justify-content: space-between;
}

.footer-content img{
  width: 30px;
  height: 30px;
}
.footer-bottom{
  text-align: center;
  padding: 10px 0;
  background-color: #e5e7eb;
}

/* ------------------------------------------Responsive -------------------------------------------*/
/* @media screen {  */
  /* Được dùng khi không ăn responsive */
/* } */

/* Màn hình Desktop cực lớn */
@media screen and (min-width: 1920px){

}
/* Màn hình Desktop lớn */
@media screen and (max-width: 1492px){

}
/* Màn hình Desktop */
@media screen and (max-width: 1200px){

}
/* Màn hình Tablet lớn */
@media screen and (max-width: 992px){
  .header-top .nav-link-header{
    justify-content: space-between;
  }
  .header-top .nav-link-header .nav-1 li:nth-child(n+2) {
    display: none;
}
  .header-top .nav-link-header .nav-1 li:nth-child(3){
    display: flex;
  }
  .header-top .nav-link-header .nav-2{
    display: flex;
  }
}
/* Màn hình Tablet */
@media screen and (max-width: 768px) {
  .header-main ul li a{
    font-size: 0.7rem;
    padding: 0 5px;
    max-width: max(100px,100%);
  }
  .header-main ul li img{
    display: none;
  }
}
/* Màn hình Mobile */
@media screen and (max-width : 534px){
  .header-top ul li:first-child{
    font-size: large;
    white-space: nowrap; /* Ngăn chữ xuống dòng */   
  }
  .header-top ul{
    justify-content: space-between;
  }
  .animated-text{
    font-size: small;
  }
  .header-banner-slider{
    height: 30px;
    line-height: 30px;
  } 
  .header-main ul{
      display: flex;
      align-items: center;
    }
  .nav-link-header .group{
    width: min(300px,100%);
  }
}
/* Màn hình Mobile cực nhỏ */
@media screen and (max-width : 320px){
    .header-top .nav-link-header .nav-1 li:first-child a{
      font-size: 0;
    }
    .header-main ul li a{
      font-size: 0.55rem;
      padding: 0px 3px  ;

    }
    .header-main ul li img{
      display: none;
    }

}


