*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}
/* CSS cho phần đầu trang gồm banner header, header top, header main */
#header{
  margin-bottom: 10px;
  /* background: linear-gradient(to right, #ffd400,yellow); */
  background: linear-gradient(269.88deg, #ffa500 6.75%, #ff8c00 95.85%);
}
.header-banner-slider{
  width: 100%;
  height: 40px;
  background: url("./frontend/img/banner-top.gif") center/cover no-repeat;
  text-align: center;
  overflow-x: hidden;
}
.animated-text {
  white-space: nowrap; /* Ngăn chữ xuống dòng */
  animation: slideIn 10s linear infinite; /* Lặp lại vô hạn */
  font-weight: bold;
  line-height: 40px;
  font-size: large;
  color: white;
  text-transform: uppercase;
}
@keyframes slideIn {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}
.header-banner-slider img{
  width: 100%;
  height: 100%;
}
.header-top{
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  height: 50px;
}
.header-top ul{
  display: flex;
  justify-content: center;
}
.header-top ul li{
  display: inline-block;
  line-height: 50px;
  margin: 0 1em;
}
.header-top ul li:nth-child(1){
  font-size: x-large;
  font-weight: bold;
}
.header-top ul li:nth-child(1) a{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-top ul li:nth-child(5){
  color: whitesmoke;
}
.header-top ul li a{
  /* color: white; */
  color: whitesmoke;
}
.header-top input {
  padding: 7px;
  width: 275px;
  border-radius: 4px;
  height: 40px;
}
.header-top .menu{
  display: none;
}
/* .header-top .menu img{

} */
.header-main{
  height: auto;
}
.header-main ul{
  display: flex;
  justify-content: space-around;
}
/* .header-main ul li{
} */
.header-main ul li:hover{
  background-color: whitesmoke;
  border-radius: 4px;
}
.header-main ul li a{
  padding: 8px 12px;
  color: black;
  font-size: small;
  font-weight: bold;
  display: inline-block;
}
.header-main ul li img{
  width: 20px;
}
.dropdown-down{
  display: inline-block;
}
.dropdown-content{
  display: none;
  background-color: #C6E2FF;
  position: absolute;
  flex-direction: column;
  padding: 5px 25px;
}
.dropdown-content a{
  display: inline-block;
}
.dropdown-down:hover .dropdown-content{
  display: flex;
  background-color: #dcdcdc;
}
/* CSS cho phần banner giới thiệu trang web và sản phẩm */
#slider-banner-item{
  width: 100%;
  height: auto;
  background-color: aliceblue;
  margin: 10px 0;
  text-align: center;
}
#slider-banner-item img{
  width: 100%;
  height: 100%;
}
/* CSS cho Footer của trang web */
#footer{
  background-color: #C6E2FF;
  width: 100%;
  height: auto;
}
#footer .footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5vw;
  padding-top: 4vh;
}
.footer-content{
  width: 300px;
}
.footer-content ul{
  margin-top: 6px;
  margin-bottom: 20px;
}
.footer-content a{
  color: black;
}
.footer-content a:hover{
  color: blue;
  text-decoration: underline;
}
.footer-content .link-infor{
  display: flex;
  justify-content: space-between;
}

.footer-content img{
  width: 30px;
  height: 30px;
}
.footer-bottom{
  text-align: center;
  padding: 10px 0;
  background-color: rgb(255, 255, 0,0.1);
}

/* Responsive */
@media screen and (max-width : 992px) {
  .header-top ul li{
    display: none;
  }
  .header-top ul li:first-child{
    display: inline-block;
  }
  .header-top ul li:last-child{
    display: flex;
    align-items: center;
  }
  .header-top ul{
    justify-content: space-between;
  }
}
@media screen and (max-width : 576px) {
  .header-top ul li:first-child{
    font-size: large;
    white-space: nowrap; /* Ngăn chữ xuống dòng */   
  }
  .header-top ul{
    justify-content: space-between;
  }
  .header-main ul li a{
    font-size: x-small;
    padding: 4px 6px;
  }
  .animated-text{
    font-size: small;
  }
}


