#container{
    margin: 0 5vw;
}
#container .filter-total{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    overflow-x: auto;
    /* padding: 4px 0; */
    /* border-bottom: 2px solid yellowgreen; */
    box-shadow: 0px 3px yellowgreen;
}
#container .filter-total .all{
    padding: 4px 10px;
    margin: 6px 4px;
    border: 1px solid #808080;
    border-radius: 5px;
    display: flex;
    background-color: whitesmoke;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
}
#container .filter-total .select-setall{
    cursor: pointer; 
    border: none;
    color: black;
    background-color: whitesmoke;
    outline: none;
    font-size: 0.95em;
}
#container .field{
    margin-bottom: 6px;
}
#container .field ul{
    margin-top: 6px;
    margin-left: 2px;
}
#container .filter-total .all img{
    width: 10px;
    height: 10px;
    margin: auto;
    margin-left: 5px;
}
#container .field ul li{
    display: inline-block;
    margin: 2px;
    min-width: 180px;
    background-color: azure;
    padding: 6px 0px;
    border-radius: 999px;
    color: black;
    border:1px solid #dcdcdc;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
}
#container .field ul li:hover{
    border-color: blue;
    color: blue;
}
/* #container .product-box-all ul{
    margin: 4px;
}
#container .product-box-all ul li{
    display: inline-block;
    width: 250px;
    height: 350px;
    border: 1px solid brown;
    margin: 2px;
} */

/* --------------------CSS danh sách sản phẩm mẫu - Có thể phải fix lại--------------------- */

#container .product-box-all{
    background-color: #f0f8ff;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
}
.product {
    width: 24%; /* 4 sp trên 1 hàng */
    margin: 0.5%; 
    box-sizing: border-box;
    /* border: 1px solid #dcdcdc; */
    padding: 6px;
    background-color: white;
    border-radius: 6px;
}
.product .name-product{
    color: #111;
    font-weight: normal;
}
.product .price-product{
    color: #ff8c00;
}
.name-product, .price-product{
    display: inline-block;
    width: 100%;
}
.product:hover{
    box-shadow: 2px 2px 2px 2px yellowgreen; 
}
.product:hover .name-product{
    color: blue;
}
.product a img{
    width: 100%;
    padding: 4px 0;
}
.product a img:hover{
    padding: 0px;
}
i.ri-love-line{
    float: right;
    /* margin-top: 4px; */
    cursor: cell;
}
.ri-love-line img{
    width: 24px;
    height: auto;
}
/* Tạo nút scroll top */
.btn-top {
    width: 30px;
    height: 47px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border: none;
    outline: 2px solid yellowgreen;
    box-shadow: 0px 0px 10px yellowgreen;
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
}   
.scroll {
width: 7px;
height: 12px;
border-radius: 10px;
background-color: yellow;
box-shadow: 0px 0px 10px white;
animation: scroll_4013 0.5s linear infinite;
transform: translateY(40%);
}
/*----------------------------------------- CSS cho phần keyframes---------------------------- */
@keyframes scroll_4013 {
0% {
    transform: translateY(40%);
}

50% {
    transform: translateY(90%);
}
};

/* -----------------------------------------Responsive-------------------------------------- */
@media screen {
    
}
@media screen and (min-width: 1920px){
    /* Hiển thị 6 sản phẩm trên 1 hàng */
    .product{
        width: 15.65%; 
    }
}
@media screen and (max-width: 1492px){
    /* Hiển thị 5 sản phẩm trên 1 hàng */
    /* .product{
        width: 19%;
    } */
}
@media screen and (max-width: 1200px){
    /* Hiển thị 4 sản phẩm trên 1 hàng */
    .product{
        width: 24%;
    }
}
@media screen and (max-width: 992px)  {
    #container .field ul li{
        min-width: 170px;
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 768px) {
    /* Hiển thị 3 sản phẩm trên 1 hàng */
    .product {
        width: 32.3%;
    }  
}
@media screen and (max-width : 534px){
    #container{
    margin: 0 1vw;
    }
    .btn-top{
        width: 25px;
        height: 40px;
        bottom: 0.5rem;
        right: 1rem;
    }
    .scroll{
        width: 6px;
        height: 10px;
    }
    #container .field ul li{
        min-width: 140px;
        font-size: 0.7rem;
    }
    /* Hiển thị 2 sản phẩm trên 1 hàng */
    .product{
        width: 49%;
    }
}
@media screen and (max-width : 320px){
    /* Hiển thị 1 sản phẩm trên 1 hàng */
    .product {
        width: 100%;
    }
}


/* --------------------------------------------CSS phụ - Button Mua ngay--------------------------- */
.btn-order {
    outline: none;
    display: inline-block;
    border: 1px solid blue;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    background: transparent;
    color: #111;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
    /* position: relative; */
    margin-top: 10px;
    background-color: #dcdcdc;
  }
  
.btn-order:hover {
box-shadow: 4px 4px 10px rgb(0, 145, 255);
}