<div class="footer-container">
    <div class="footer-content">
        <h3>Le Van Quy</h3>
        <ul>
            <li>Điện thoại: <a href="tel: 0382787721">0382787721</a></li>
            <li>Email: <a href="mailto: vannn.quy@gmail.com">vannn.quy@gmail.com</a></li>
            <li>Địa chỉ: Đà Nẵng - Việt Nam</li>
            <li>Công việc: Là lập trình viên</li>
            <li><a href="my-portfolio.html" target="_blank">Portfolio Admin</a></li>
        </ul>
    </div>
    <div class="footer-content">
        <h3>Thông tin web</h3>
        <ul>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Điều khoản & Bảo mật</a></li>
            <li><a href="">Góp ý</a></li>
        </ul>
    </div>
    <div class="footer-content">
        <h3>Sản phẩm</h3>
        <ul>
            <li><a href="">Project 1</a></li>
            <li><a href="">Project 2</a></li>
            <li><a href="">Project 3</a></li>
            <li><a href="">Project 4</a></li>
        </ul>
    </div>
    <div class="footer-content">
        <h3>Liên kết</h3>
        <ul class="link-infor">
            <li><a href="https://www.facebook.com/LeVanQuy0101" target="_blank"><img src="./frontend/assets/icons/facebook.png" alt=""></a></li>
            <li><a href="zalo.html" target="_blank"><img src="./frontend/assets/icons/icons8-zalo-480.png" alt=""></a></li>
            <li><a href="https://www.tiktok.com/@gd_chessman" target="_blank"><img src="./frontend/assets/icons/tiktok.png" alt=""></a></li>
            <li><a href="time.html" target="_blank"><img src="./frontend/assets/icons/youtube.png" alt=""></a></li>
        </ul>
    </div>
</div>
<div class="footer-bottom">
    <p>&copy; Trang web công nghệ được phát triển bởi LE&nbsp;VAN&nbsp;QUY</p>
</div>