<!-- <div class="header-banner-slider">
    <h1 class="animated-text">levanquy.com - Web công nghệ - Cung cấp mã nguồn</h1>
</div> -->
<div class="header-top"> 
    <nav class="nav-link-header">
        <ul class="nav-1">
            <li><a href="index.html"><img src="/frontend/assets/favicon/android-icon-144x144.png" width="30px">levanquy.com</a></li>
            <li><a href="">Tin tức - Thủ thuật</a></li>
            <li><input type="search" placeholder="Bạn tìm gì..."></li>
            <li><a href="">Hỏi đáp</a></li>
            <li><a href="./login.html"><img src="/frontend/assets/icons/profile.png" alt="" class="icon-size">&nbsp;Đăng nhập</a></li>
        </ul>
        <ul class="nav-2">
            <li><img src="./frontend/assets/icons/search.png" alt="" class="icon-size-min" width="24px" height="24px"></li>
            <li class="menu"><img src="./frontend/assets/icons/list.png" alt="" class="icon-size"></li>
        </ul>
    </nav>
</div>
<!-- <div class="sidebar" id="menu-sidebar" style="display: none;">
    <button onclick="menu_close()">Đóng</button>
    <div class="account">
        <a href="./login.html"><img src="./frontend/img/profile.png" alt="" class="icon-size">&nbsp;Lê Văn Quý</a>
        <a href="">Sản phẩm yêu thích</a>
        <a href="">Cài đặt</a>
    </div>
    <div class="menu-conttent-sidebar">
        <ul>
            <li><a href="web.html">Website</a></li>
            <li><a href="">Mobile&nbsp;App</a></li>
            <li><a href="">Adruino</a></li>
            <li><a href="">Đồ&nbsp;chơi công&nbsp;nghệ</a></li>
            <li><a href="">Tool hỗ trợ</a></li>
            <li class="dropdown-down"><a href="">Dịch&nbsp;vụ khác&#9662;</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
            </li> 
        </ul> 
    </div>
    <div class="other-infor">
        
    </div>
</div> -->
<div class="header-main">
    <ul>
        <li><a href="web.html"><img src="/frontend/assets/icons/world-wide-web.png" alt=""> Website</a></li>
        <li><a href=""><img src="./frontend/assets/icons/cell-phone.png" alt="">Mobile&nbsp;App</a></li>
        <li><a href=""><img src="./frontend/assets/icons/motherboard.png" alt=""> Adruino</a></li>
        <li><a href=""><img src="./frontend/assets/icons/game-console.png" alt=""> Đồ&nbsp;chơi công&nbsp;nghệ</a></li>
        <li><a href=""><img src="./frontend/assets/icons/tools.png" alt=""> Tool hỗ trợ</a></li>
        <li class="dropdown-down"><a href=""><img src="./frontend/assets/icons/customer-service.png" alt=""> Dịch&nbsp;vụ khác&#9662;</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
        </li> 
    </ul>
</div>